<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>毛毛國</title>
    <meta name="description" content="我們是一群平凡毛爸媽，邀請你和毛孩，一起入籍毛毛國這個樂園">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/aos.css" />
    <link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link
        href="//fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap&subset=chinese-traditional"
        rel="stylesheet">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1">
    <script src="js/jquery.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>

</head>

<body>
    <!-- 內容區開始 -->
    <div id="app">
        <section class="home" id="home">
            <div class="owl-carousel owl-theme">
                <div class="item" id="item1">
                    <video autoplay muted loop id="media-video">
                        <source src="video/04_3.mp4" type="video/mp4">
                    </video>
                    <div class="inoftext">
                        <h2 data-aos="fade-right" data-aos-once="false">準備好一點，棄養少一點
                        </h2>
                        <p data-aos="fade-left" data-aos-once="false">寵爸媽依據實際經驗，</p>
                        <p>自行催生量身打造的寵物險</p>
                        <p data-aos="fade-up" data-aos-delay="300"><a href="pdf/PET1.1.pdf" target="_blank">了解更多</a></p>
                    </div>
                </div>
                <div class="item" id="item3">
                    <video autoplay muted loop id="media-video">
                        <source src="video/03_1.mp4" type="video/mp4">
                    </video>
                    <div class="inoftext">
                        <h2 data-aos="fade-right" data-aos-once="false">募集好店家，幫助好爸媽</h2>
                        <p data-aos="fade-left" data-aos-once="false">店家聯盟</p>
                        <p data-aos="fade-left" data-aos-once="false">會員好康優惠不斷 </p>
                        <p data-aos="fade-up" data-aos-delay="300"><a href="pdf/PET1.2.pdf" target="_blank">了解更多</a></p>
                    </div>
                </div>
                <div class="item" id="item4">
                    <video autoplay muted loop id="media-video">
                        <source src="video/02.mp4" type="video/mp4">
                    </video>
                    <div class="inoftext right">
                        <h2 data-aos="fade-right" data-aos-once="false">輕鬆讀，好好養 </h2>
                        <p data-aos="fade-left" data-aos-once="false">毛孩的事，請你跟我一起這樣做</p>
                        <p data-aos="fade-up" data-aos-delay="300"><a href="pdf/PET1.3.pdf" target="_blank">了解更多</a></p>
                    </div>
                </div>
            </div>

        </section>

        <section class="about" id="about">
            <div class="container d-flex flex-wrap">
                <div class="about-infotxt" data-aos="fade-right">
                    <h1>關於我們</h1>
                    <div>
                        <h2>起初，我們只是單純地想要做點什麼。</h2>
                        <p>我們想在餐廳吃飯時，也能夠帶著自家的毛小孩；我們想要跟其他狗爹貓娘分享，今天遇到的寵物醫生對小孩好溫柔；想詢問有沒有人能幫忙，領養在街邊那隻超塞奶幼齒流浪漢；我們最想要看到，臺灣毛小孩個個都有家。
                        </p>
                        <p>想著想著，我們居然真的就踏出了第一步。在2019年，我們研究國外的寵物險，設計真正能幫忙的好保單，然後找了保險公司交涉，希望我們的毛小孩也能有個好保障；我們找了美容院、寵物醫院、毛孩旅館，甚至訓練學校，想在毛小孩的吃穿用度上，幫毛爸毛媽們把把關，同時還能享受商家提供給我們的好康！
                        </p>
                        <p>讓我們驚喜的是，願意協助毛小孩的商家原來那麼多！我們也開始有了共享的念頭，我們要把這些毛朋友的善意放到網上，好讓更多爸媽能一同享用我們的成果。於是「毛毛國」建國了。</p>
                        <p>我們原本只是一群平凡的毛爸媽，然而我們和我們的朋友們，很努力地建立了一個友善的國度，我們希望能邀請你和你的毛孩兒，入籍毛毛國，成為我們的新玩伴！</p>



                    </div>
                </div>
            </div>
            <img src="img/about-bg.png" alt="" id="about-bg">
        </section>
        <section class="home-match" id="home-match">
            <div class="container d-flex align-items-center">
                <div class="match-start">
                    <div class="foreword-t">
                        <h2>找個好幫手</h2>
                        <P> 我們創立毛毛國的第一步，就是打造出了第一張由寵爸媽自行規劃的毛孩保單！</P>
                        <P>我們不僅依臺灣狀況，規劃了市面上最完善的醫療保障，同時，我們也希望能讓這張保單有個最適合的服務人員。</P>
                        <P>每個人都有自己較擅長溝通的類型，比如，有些人特別有長輩緣，而有些人則傾向理性(或是感性)的說話方式。更重要的是，家裡有養貓貓的人，更容易理解我們對主子的擔憂，而有養狗狗的人，則比較了解狗狗為何徹夜未眠。
                        </P>
                        <P>所以，我們設計了這個搜尋功能，讓寵爸媽們可以尋找自家毛孩的有緣人！我們盡力篩撿好的服務人員，請您由其中挑選出最適合的人選，把對自家毛孩的寵愛，化為最實質的幫助！</P>

                    </div>
                    <div class="d-flex justify-content-center ">
                        <a href="#;" class="match-btn"><i class="fa fa-search"></i> 設定條件(即將推出)</a>
                    </div>

                </div>



            </div>
        </section>
        <section class="social-media" id="social-media">
            <div class="social-title">
                <img src="img/title-fb.png" alt="">
            </div>
            <div class="container social-media-inner d-flex justify-content-between flex-wrap">
                <div class="post-each" v-for="(item,i) in fbContents">
                    <a :href="item.url" target="_blank">
                        <img :src="item.picture">
                        <div>

                            {{item.message}}
                        </div>
                    </a>
                </div>


            </div>
            <div class="social-title">
                <img src="img/title-ig.png" alt="">
            </div>
            <div
                class="container social-media-inner d-flex justify-content-between flex-lg-wrap flex-lg-row flex-wrap flex-colum">
                <div class="post-each" v-for="(item,i) in igPicture">
                    <a :href="item.permalink" target="_blank">
                        <img :src="item.media_url">
                       
                    </a>
                </div>




            </div>
        </section>
    </div>
<!-- 內容區結束 -->
<!-- 頁尾區開始 -->
    <footer>
        <div class="container">
            <ul class="icon-social">
                <li><a href="mailto:momogo@momogo.pet"><img src="img/icon-mail.svg" alt=""></a></li>
                <li><a href="https://www.facebook.com/momogopet/" target="_blank"><img src="img/icon-fb.svg" alt=""></a>
                </li>
                <li><a href="https://www.instagram.com/momogopet/" target="_blank"><img src="img/icon-ig.svg"
                            alt=""></a></li>
            </ul>
            <ul class="bottom-menu">
                <li><a href="#home" class="page-scroll">我們的主張</a></li>
                <li><a href="#about" class="page-scroll">關於我們</a></li>
                <li><a href="#match" class="page-scroll">找個好幫手</a></li>
                <li><a href="#social-media" class="page-scroll">網路社群</a></li>
                <li><a href="#;">會員登入</a></li>
                <li><a href="#;">私權政策</a></li>
            </ul>
        </div>
        <p class="text-center">©Copyright 　momogo.com</p>
    </footer>
<!-- 頁尾區結束 -->
<!-- 選單區開始 -->
    <div class="nav">
        <h1 class="logo backgo">
            <a href="index.html#home" class="page-scroll">毛毛國</a>
        </h1>
        <ul>
            <li><a href="#home" class="page-scroll">主張</a></li>
            <li><a href="#about" class="page-scroll">關於</a></li>
            <li><a href="#home-match" class="page-scroll">找個好幫手</a></li>
            <li><a href="#social-media" class="page-scroll">社群</a></li>

            <li><a href="login.html" class="page-scroll">登入<span class="text-black-50"> / </span>註冊</a></li>
        </ul>
        <a href="#;" class="menu-hamburger">menu</a>
    </div>
    <!-- 選單區結束 -->

<!-- 橫向流覽時提示 -->
    <div class="landscape">
        <h2>本網頁不支援手機橫向瀏覽</h2>
    </div>
<!-- 橫向流覽時提示結束 -->
    <script src='//cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js'></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js'></script>
    <script src="js/index.js"></script>
</body>

</html>